
* {
    background:rgb(76, 90, 82) !important;
    font-size: 3vh !important;
}

button {
    background:rgb(35, 36, 35) !important;
    width: 22vw;
    height: 15vh;
    padding: 30px !important;
    margin:auto;
}

div {
    width: 100vw;
    margin-left:auto;
}